{% extends 'main/nav.html' %}
{% load static %}
{% block content %}

    <section class="events">
        <div class="title">
            <h1>Upcoming Events</h1>
            <div class="line"></div>
        </div>
            <div class="row">
                {% for photo in photoes %}
                <div class="col-sm-6 col mt-5">
                    <a href="{% url 'detailpage' photo.id %}"><img src="{{photo.image.url}}" class="img-thumbnail" alt=""></a>
                    <a href="{% url 'detailpage' photo.id %}"><h4>{{photo.title}}</h4></a>
                    <a href="{% url 'detailpage' photo.id %}"><p>{{photo.discription}}</p></a>
                    <a href="{% url 'detailpage' photo.id %}"><p><strong><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;{{photo.created|timesince}} ago</strong></p></a>
                     <a href="" class="ctn">View More</a>
                    </div>
                 {% endfor %}
                </div>
    </section>
    
    {% for explore in explores %}
    <section class="explore" style="background-image:url('{{explore.image.url}}') ;">
        <div class="explore-content">
            <h1>EXPLORE THE WORLD</h1>
            <div class="line"></div>
            <P>Lorem ipsum, dolor sit amet consectetur s obcaecati est facilis mollitia ipsa nostrum praesentium eos.</P>
            <a href="{% url 'detailpage' explore.id %}" class="ctn">View More</a>
        </div>
    </section>
    {% endfor %}
    <section class="tours">
        <div class="row">
            <div class="col col content-col" style="width: 50%;">
                <h1>UPCOMING & TOURS AND DESTINATION</h1>
                <div class="line"></div>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium officinisi alias ab tempora voluptates dolore quisquam, </P>
                <a href="" class="ctn">View More</a>
            </div>
            <div class="col img-col">
                <div class="img-gallery">
                    <img src="{% static 'image/t3.jpg'%}" alt="">
                    <img src="{% static 'image/t4.jpg'%}" alt="">
                    <img src="{% static 'image/t5.jpg'%}" alt="">
                    <img src="{% static 'image/t6.jpg'%}" alt="">
                    
                </div>
            </div>
        </div>

    </section>

{% endblock content %}