<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<body>
          <a href="{% url 'list_createpage' %}">+Create|</a>
          
          {% for listthing in listthings %}
          <a href="{% url 'list_updatepage' listthing.id %}">+Eidt|</a>
          <a href="{% url 'listthing_retrieve' listthing.id %}"><h1>{{listthing.title}}</h1></a>
          <h1>{{listthing.price}}</h1>
          <h1>{{listthing.num_bedroom}}</h1>
          <h1>{{listthing.num_bathroom}}</h1>
          <h1>{{listthing.square_footage}}</h1>
          <h1>{{listthing.address}}</h1>

          {% endfor %}
</body>
</html>